@charset "utf-8";
/* Document */
/* @import "../fonts/Espi/style.css"; */


/* @font-face { */
/*     font-family: 'espi-1'; */
/*     src: url('../fonts/Espi/espipro-bold-webfont.eot'); */
/*     src: url('../fonts/Espi/espipro-bold-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/Espi/espipro-bold-webfont.woff') format('woff'), */
/*          url('../fonts/Espi/espipro-bold-webfont.ttf') format('truetype'), */
/*          url('../fonts/Espi/espipro-bold-webfont.svg#espiprobold') format('svg'); */
/*     font-weight: bold; */
/*     font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*     font-family: 'espi-1'; */
/*     src: url('../fonts/Espi/espipro-light-webfont.eot'); */
/*     src: url('../fonts/Espi/espipro-light-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/Espi/espipro-light-webfont.woff') format('woff'), */
/*          url('../fonts/Espi/espipro-light-webfont.ttf') format('truetype'), */
/*          url('../fonts/Espi/espipro-light-webfont.svg#espiprolight') format('svg'); */
/*     font-weight: 300; */
/*     font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*     font-family: 'espi-1'; */
/*     src: url('../fonts/Espi/espipro-regular-webfont.eot'); */
/*     src: url('../fonts/Espi/espipro-regular-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/Espi/espipro-regular-webfont.woff') format('woff'), */
/*          url('../fonts/Espi/espipro-regular-webfont.ttf') format('truetype'), */
/*          url('../fonts/Espi/espipro-regular-webfont.svg#espiproregular') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*     font-family: 'espi-slab-1'; */
/*     src: url('../fonts/Espi/espislabpro-black-webfont.eot'); */
/*     src: url('../fonts/Espi/espislabpro-black-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/Espi/espislabpro-black-webfont.woff') format('woff'), */
/*          url('../fonts/Espi/espislabpro-black-webfont.ttf') format('truetype'); */
/*     font-weight: 900; */
/*     font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*     font-family: 'espi-slab-1'; */
/*     src: url('../fonts/Espi/espislabpro-bold-webfont.eot'); */
/*     src: url('../fonts/Espi/espislabpro-bold-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/Espi/espislabpro-bold-webfont.woff') format('woff'), */
/*          url('../fonts/Espi/espislabpro-bold-webfont.ttf') format('truetype'), */
/*          url('../fonts/Espi/espislabpro-bold-webfont.svg#espislabprobold') format('svg'); */
/*     font-weight: bold; */
/*     font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*     font-family: 'espi-slab-1'; */
/*     src: url('../fonts/Espi/espislabpro-medium-webfont.eot'); */
/*     src: url('../fonts/Espi/espislabpro-medium-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/Espi/espislabpro-medium-webfont.woff') format('woff'), */
/*          url('../fonts/Espi/espislabpro-medium-webfont.ttf') format('truetype'), */
/*          url('../fonts/Espi/espislabpro-medium-webfont.svg#espislabpro_mediummedium') format('svg'); */
/*     font-weight: 500; */
/*     font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*     font-family: 'espi-slab-1'; */
/*     src: url('../fonts/Espi/espislabpro-regular-webfont.eot'); */
/*     src: url('../fonts/Espi/espislabpro-regular-webfont.eot?#iefix') format('embedded-opentype'), */
/*          url('../fonts/Espi/espislabpro-regular-webfont.woff') format('woff'), */
/*          url('../fonts/Espi/espislabpro-regular-webfont.ttf') format('truetype'), */
/*          url('../fonts/Espi/espislabpro-regular-webfont.svg#espislabproregular') format('svg'); */
/*     font-weight: normal; */
/*     font-style: normal; */
/* } */
body{font-size:10px;line-height:1;}
#readability-logo,#arc90-logo,.footer-twitterLink,#readTools a,a.rdbTK-powered span{background-color:transparent!important;background-image:url(./../img/sprite-readability.png)!important;background-repeat:no-repeat!important;}
#readOverlay {text-rendering:optimizeLegibility; display:block;position:absolute;top:0;left:0;width:100%; background-color: #F9F9F9;background-image:url(./../img/backgr_light.png);}
#readInner {line-height:1.4em;max-width:700px;margin:1em auto; padding: 0 60px; background-color: #FFFFFD;border: 6px solid #E7E7E7; border-top-width: 4px; border-bottom-width: 4px;
-moz-box-shadow: 10px 5px 5px #ABABAB; -moz-border-radius: 6px;}
#readInner a {color:#006699;text-decoration:none; border-bottom: 2px solid transparent;}
#readInner a:hover {text-decoration:none; border-bottom: 2px solid #006699;}
#readInner img {float:left;clear:both;margin: 0 12px 12px 0;background-color:#E8E8E8;padding:5px;border:2px solid #D1D1D1; -moz-border-radius: 3px; max-width: 100%; }
#readInner h1 {border-bottom:1px dotted #454545;font-size:1.5em;padding:1em 0 0.5em; margin-bottom:.75em; color: #454545; }
.style-apertura #readInner h1 {border-bottom-color:#ededed;}
#readInner blockquote {margin-left: 1em; border-left: .33em solid #bbb; padding: .5em 1em .75em; font-style: italic;}
#readability-inner * {margin-bottom:16px;border:none;background:none;}
/* Footer */
#readFooter {border-top:1px solid #333;text-align:center;clear:both;overflow:hidden;}
.style-apertura #readFooter {border-top-color:#ededed;}
#rdb-footer-left {display:inline;float:left;margin-top:15px;width:285px;background-position:0 -36px;}
.rdbTypekit #rdb-footer-left {width:475px;}
#rdb-footer-left a,#rdb-footer-left a:link {float:left;}
#readability-logo {display:inline;background-position:0 -36px;height:29px;width:189px;text-indent:-9000px;}
#arc90-logo {display:inline;background-position:right -36px;height:29px;width:96px;text-indent:-9000px;}
#readability-url {display:none;}
.style-apertura #readability-logo {background-position:0 -67px;}
.style-apertura #arc90-logo {background-position:right -67px;}
#rdb-footer-right {display:inline;float:right;text-align:right;font-size:.75em;margin-top:18px;}
#rdb-footer-right a {display:inline-block;float:left;overflow:visible;line-height:16px;vertical-align:baseline;}
.footer-twitterLink {height:20px;margin-left:20px;padding:4px 0 0 28px;background-position:0 -123px;font-size:12px;}
#rdb-footer-left .footer-twitterLink {display:none;margin-top:1px;padding-top:2px;}
.rdbTypekit #rdb-footer-right .footer-twitterLink {display:none;}
.rdbTypekit #rdb-footer-left .footer-twitterLink {display:inline-block!important;}
a.rdbTK-powered,a.rdbTK-powered:link,a.rdbTK-powered:hover {font-size:16px;color:#858789!important;text-decoration:none!important;}
a.rdbTK-powered span {display:inline-block;height:22px;margin-left:2px;padding:4px 0 0 26px;background-position:0 -146px!important;}
.style-apertura #rdb-inverse,.style-athelas #rdb-athelas {display:block;}
span.version {display:none;}
/* Tools */
#readTools {width:34px;height:150px;position:fixed;z-index:100;top:10px;left:10px;}
#readTools a {overflow:hidden;margin-bottom:8px;display:block;opacity:.4;text-indent:-99999px;height:34px;width:34px;text-decoration:none; /* filter:alpha(opacity=40); */ }
#reload-page {background-position:0 0;}
#print-page {background-position:-36px 0;}
#email-page {background-position:-72px 0;}
#kindle-page {background-position:-108px 0;}
#readTools a:hover { opacity:1; /* filter:alpha(opacity=100); */ }
/* -- USER-CONFIGURABLE STYLING -- */
/* Size */
.size-x-small {font-size:12px;}
.size-small {font-size:15px;}
.size-medium {font-size:18px;}
.size-large {font-size:22px;}
.size-x-large {font-size:28px;}
.size-9px{font-size:9px;}
.size-10px{font-size:10px;}
.size-11px{font-size:11px;}
.size-12px{font-size:12px;}
.size-13px{font-size:13px;}
.size-14px{font-size:14px;}
.size-15px{font-size:15px;}
.size-16px{font-size:16px;}
.size-17px{font-size:17px;}
.size-18px{font-size:18px;}
.size-20px{font-size:20px;}
.size-22px{font-size:22px;}
.size-24px{font-size:24px;}
.size-26px{font-size:26px;}
.size-28px{font-size:28px;}
.size-30px{font-size:30px;}
.size-32px{font-size:32px;}
.size-34px{font-size:34px;}
.size-36px{font-size:36px;}
.size-40px{font-size:40px;}
/* Style */
.style-newspaper {
  /* font-family:"espi-slab-1", "Lucida Bright", "Lucida Fax", "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times,  serif;*/ font-family: serif; background-color:#fffffd;color:#111;}
.style-newspaper h1, .style-newspaper h2, .style-newspaper h3, .style-newspaper h4, .style-newspaper h5, .style-newspaper h6 { font-family: "espi-1", "Lucida Sans Std", AvenirNextCondensed-Demibold, "Lucida Grande", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif; color: #222; line-height: 1.2; margin-bottom: 0.125em; font-weight: bold;}
.style-newspaper #readInner a {color:#006699;}
.style-novel {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; background-color: #f4eed9; color:#1d1916;}
.style-novel #readInner a {color:#1856ba;}
.style-ebook {font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; background-color:#edebe8; color:#2c2d32;}
.style-ebook #readInner a {color:#187dc9;}
.style-ebook h1 {font-family: "Lucida Grande", "Arial Black", Gadget, sans-serif;font-weight:400;}
.style-terminal {font-family:Consolas, "Lucida Console", Monaco, monospace; background-color :#1d4e2c; color:#c6ffc6;}
.style-terminal #readInner a {color:#093;}
/* Typekit */
.style-apertura {font-family:"apertura-1", "apertura-2", sans-serif;background-color:#2d2828;color:#eae8e9;}
.style-apertura #readInner a {color:#58b0ff;}
.style-athelas {font-family:"athelas-1", "athelas-2", "Palatino Linotype", "Book Antiqua", Palatino, serif;background-color:#f7f7f7;color:#2b373d;}
.style-athelas #readInner a {color:#1e83cb;}
/* Margin */
.margin-x-narrow {width:95%;}
.margin-narrow {width:85%;}
.margin-medium {width:75%;}
.margin-wide {width:55%;}
.margin-x-wide {width:35%;}
/* -- USER-CONFIGURABLE STYLING -- */
/* -- DEBUG -- */
.bug-green {background:#bbf9b0;border:4px solid green;}
.bug-red {background:red;}
.bug-yellow {background:#ffff8e;}
.bug-blue {background:#bfdfff;}
/* -- EMAIL / KINDLE POP UP -- */
#kindle-container, #email-container {position:fixed;top:60px;left:50%;width:500px;height:490px;border:solid 3px #666;background-color:#fff;z-index:100!important;overflow:hidden;margin:0 0 0 -240px;padding:0;}
/* Override html styling attributes */
table, tr, td { background-color: transparent !important; }
strong, b, em  {font-weight: bold; /* font-family: "espi-1-slab", "Lucida Bright", "Lucida Sans Std", Corbel, AvenirNextCondensed-Demibold, 'Lucida Grande', sans-serif; */ font-family: sans-serif; display: inline-block;}
ul { list-style-type: circle; }
pre { white-space: pre-wrap !important; padding: 1em; font-size: .75em !important; }
/* clear floated image */
.embeddedMasterObject {overflow: auto;}
.embeddedMasterObject + p {clear: left;}
