body { margin: 0 4em; }

body, #readOverlay {
	background-color: white !important;
}

embed, object {
	display: none !important;
}
/*#readInner {
    width: 100% !important;
}
*/
#readInner.margin-x-narrow {width:100% !important;}
#readInner.margin-narrow {width:95% !important;}
#readInner.margin-medium {width:90% !important;}
#readInner.margin-wide {width:85% !important;}
#readInner.margin-x-wide {width:80% !important;}
#readInner {
	width: 100% !important;
	font-size: 11pt; 
	font-family:"Lucida Fax", "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif; color:#454545;
	line-height: 1.4em;
}
#readTools {
	display: none !important;
}

#readFooter {
	display:none;
}

#readability-url {
	display:none;
}

#readability-footer-logo {
	display: none;
}

#readability-footer-logo a {
	display: none;
}


span.version {
	display: none;
}

a {
	color: #333 !important;
	border-bottom: 1px dotted #C0C0C0 !important;
}

div.footer-right { display: none; }

ul { list-style-type: circle; }

#readInner h1 , #readInner h2 , #readInner h3 , #readInner h4 , #readInner h5 , #readInner h6 , h1, h2, h3, h4, h5, h6  { font-family:  "Lucida Sans Std", "Lucida Grande", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif; color: #999; letter-spacing: -0.01em; word-spacing: -0.06em; margin-bottom: -1em; }

#readInner h1 , h1 {font-size: 14pt; color: #999;} h2, h3, h4, h5, h6, #readInner h2, #readInner h3, #readInner h4, #readInner h5, #readInner h6  {font-size: 13pt; color: #999;} 


/* PRINT OUT THE URL OF LINKS, ( source: article "CSS Design: Going to Print" by Eric Meyer--> ) http://www.alistapart.com/articles/goingtoprint/ */ 
.style-newspaper #readInner a[href]:after, #readInner a[href]:after { content: " (" attr(href) ") " ; font-size: 90%;} 
